body {
  background-color: #212b31;
  color: #a8a8a8;
}

header {
  background-color: #780202;
  color: #FF6E6E;
  border: 1px solid #000000;
	overflow: hidden;
	width: 100%;
  margin-bottom: 30px;
}

h1 {
  border: 2px solid blue;
  text-align: center;
  max-width: 80%;
  margin-left: 40%;
  margin-right: 10%;
  float: left;
}

.nav_div {
}

.hamburger {
  width: 5%;
  height: 5%;
  min-height: 30px;
  min-width: 30px;
  border: 2px solid blue;
  display: inline;
  float: right;
}

.hamburger::after {
  clear: both;
}

.nav_main ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.nav_main:hover ul {
  display: block;
  float: right;
}

@media only screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }

.nav_main {
  padding: .2em .2em .2em 2em;
}

.nav_main ul {
  display: block;
}

.sub_li {
  display: none;
}

.nav_main ul li.main_li {
  display: inline-block;
  border-bottom: none;
}

li.main_li:hover .sub_li {
  display: inline-block;
}

.nav_main:hover ul {
  display: block;
  float: none;
}
