body {
  background-color: #212b31;
  color: #a8a8a8;
}

header {
  background-color: #780202;
  color: #FF6E6E;
  border: 1px solid #000000;
	overflow: hidden;
	width: 100%;
  margin-bottom: 30px;
}

h1 {
  border: 2px solid blue;
  text-align: center;
  max-width: 80%;
  margin-left: 40%;
  margin-right: 10%;
  float: left;
}
